<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebCardápio</title>
</head>

<body>
  <main>
    <section class="cardapio">
      <h1>Monte seu acaí</h1>
      <app-cardapio titulo="Tamanho" [opcoes]="['300ml','500ml','700ml']" escolhaAte="1"></app-cardapio>
      <app-cardapio titulo="Acréscimos"
        [opcoes]="['Leite','Banana','Granola','Morango','Leite em pó','Abacaxi','Manga','Uva',]" escolhaAte="3">
      </app-cardapio>
    </section>
  </main>
</body>

</html>
